<!DOCTYPE html>
<html>
<head>
    <title>Product Information</title>
</head>
<body>
<h1>Product Information</h1>
<ul>
    {% for product in products %}
        <li>
            <strong>ID:</strong> {{ product.id }}<br>
            <strong>Name:</strong> {{ product.name }}<br>
            <strong>Price:</strong> {{ product.price }}<br>
            <strong>Description:</strong> {{ product.description }}<br>
            <strong>Lessons Count:</strong> {{ product.lessons_count }}
        </li>
    {% endfor %}
</ul>
</body>
</html>